.Result {
  width: 100%;
  // height: 100%;
}

.Result-photo-container {
  background-color: black;
  width: 100%;
  height: 40%;
  text-align: center;

  .photo {
    height: 100%;
    width: auto;
  }
}
.Result-cards-container {
  .Result-cards {
    .Result-cards-container-ja {
      font-size: 30px;
    }
    .Result-cards-container-en {
      font-size: 40px;
    }
  }
}
