@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap");

.Tutorial-container {
  display: flex;
  font-family: "Montserrat", "Roboto";
  padding: 40px;
  justify-content: center;
  color: #6c757b;
  .Tutorial-box {
    h1 {
      margin-bottom: 30px;
    }
  }
}

.tutorial-page-button {
  border-radius: 25px;
}

.button-container {
  text-align: center;
  .tutorial-page-button {
    margin-bottom: 30px;
  }
}
