@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap");

.Tutorial-container {
  display: flex;
  font-family: "Montserrat", "Roboto";
  padding: 40px;
  justify-content: center;
}

.tutorial-page-button {
  border-radius: 25px;
}

.button-container {
  text-align: center;
}

.Tutorial-box {
}
